.card {
  width: 100px;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

.covered {
  background: url('../img/cheetah-card.png');
}

.covered img {
  visibility: hidden;
}
